.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }

  .custom-spacing {
    margin-bottom: 16px; /* ou qualquer valor que você preferir */
}
  